*{
    margin:0;
    padding:0;
    box-sizing:0;
}
body{
    font-family:sans-serif;
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:30px;
}
main{
    max-width:400px;
    width:330px;
    background-color:#f4f4f4;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-block:10px;
    display:flex;
    flex-direction:column;
    gap:10px;
}
main h2{
    text-transform:capitalize;
    text-align:center;
}
form #first{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
form{
     margin-left:2%;
}
#first input,#second input,#three input{
    width:96%;
    line-height:1.5;
    font-size:17px;
    padding-left:2%;
    padding:3px;
    border:none;
    margin-block:5px;
    border-bottom:1px solid rgb(128, 124, 124);
    outline:none;
}
#four p{
    font-size:17px; 
    text-transform:capitalize;
    padding-block:3px;
    font-weight:600;
}
#four input,#five input{
    transform:scale(1.2);  
}
#four{
    padding-block:5px;
}
#four input{
    margin:5px 10px;
}
#five span{
    padding-left:10px;
}
form button{
    padding:8px 25px;
    font-size:16px;
    text-transform:capitalize;
    margin:5px 0px 5px 100px;
    font-weight:600;
    background-color:rgb(7, 83, 83);
    color:#fff;
    border:none;
    border-radius:10px;
    cursor:pointer;
}
main label{
    text-transform:capitalize;
}

#alreadyRegister
{
    margin-block:10px;
    margin-left:10px;
}
#alreadyRegister a{
    text-decoration:none;
    text-transform:capitalize;
    padding-left:5px;
}

/*style error container*/
.errorContainer{
    width:400px;
    background-color:#c1e4a4;
    display:none;
    position: absolute;
    top:20px;
    z-index:1;
}
.errorContainer i{
    float:right;
    font-size:20px;
    font-weight:600;
    padding:10px 10px 2px 0px;
    cursor:pointer;
}
.errorContainer ul{
    padding:40px 0px 10px 20px;
}
.errorContainer ul li{
    color:#FF0000;
    padding-block:2px;
}
